<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
	{{ bootstrap.load_css() }}
   </head>
  <body>
    <div class="col-8 offset-2 mt-4">
        <form method="POST">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>

          <div class="form-group">
            <label>WiFi name</label>
            <input name="wifi" type="text" list="wifi" class="form-control"/>
            <datalist id="wifi">
              {% for wifi in wifis %}
                <option value={{wifi}}>{{ wifi }}</option>
              {% endfor %}
            </datalist>
          </div>
          <div class="form-group">
            <label for="password">WiFi Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
            <a href="home.html"><button class="btn btn-danger">Return</button></a>
        </form>
    </div>

		{{ bootstrap.load_js() }}
    </body>
</html>