<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
	{{ bootstrap.load_css() }}
    </head>
  <body>

    <div class="container">
      <div class="d-flex justify-content-center m-3 p-1">
      {% if net %}
          <div>Current net: {{ net }}, Current e-mail: {{ email }}</div>
      {% else %}
          <div>Wifi was not configured yet!</div>
      {% endif %}
      </div>
      <div class="d-flex justify-content-center m-3 p-1">
        <a href=configuration><button class="btn btn-danger">Configure</button></a>
      </div>
    </div>

		{{ bootstrap.load_js() }}
     </body>
</html>